# Environment files
.env
Backend/.env
frontend/.env
admin/.env

# Dependencies
node_modules/
Backend/node_modules/
frontend/node_modules/
admin/node_modules/

# Build output
dist/
build/

# Logs
*.log